---
import NormalLayout from "../layouts/Default.astro";
import type { ComponentProps } from "astro/types";
// import data from "../data/10sen.json";
// biome-ignore lint/style/useImportType: <explanation>
import TopSlides from "../components/TopSlides.astro";
import getThumbnail from "../components/getThumbnail";
import fetch10sen from "../data/fetch10sen";
import fetchMiru10 from "../data/fetchMiru10";

const ten: ComponentProps<typeof TopSlides>[] = await Promise.all(
  Object.entries(await fetch10sen())
    .toReversed()
    .map(async ([year, values]) => {
      return {
        href: `/10sen/${year}`,
        title: `音MAD作者が選ぶ${year}年の音MAD10選`,
        c: await Promise.all(
          values.slice(0, 8).map(async ({ title, url, type }) => ({
            title,
            thumbnail: await getThumbnail(type, url),
          })),
        ),
      };
    }),
);

const miru10: ComponentProps<typeof TopSlides>[] = await Promise.all(
  Object.entries(await fetchMiru10())
    .toReversed()
    .map(async ([year, values]) => {
      return {
        href: `/miru10/${year}`,
        title: `見る専も選ぶ${year}年の音MAD10選`,
        c: await Promise.all(
          values.slice(0, 8).map(async ({ title, url, type }) => ({
            title,
            thumbnail: await getThumbnail(type, url),
          })),
        ),
      };
    }),
);
---


<NormalLayout title="音MAD HoF">
  <p class="text-slate-900 mb-4 text-center">このサイトでは何らかの形で殿堂入りした音MADのリストをまとめています。</p>
  <p class="text-slate-900 mb-4 text-center">デバイス規制などの技術的な問題で、視聴可能な動画のサムネイルが取得出来ていないケースがありますので、あくまで参考程度にしてください。</p>
  <div class="flex flex-col gap-y-8">
    {
      ten.map((props) => (
        <TopSlides {...props} />
      ))
    }
    {
      miru10.map((props) => (
        <TopSlides {...props} />
      ))
    }
  </div>
</NormalLayout>
