---
import NormalLayout from "../../layouts/Default.astro";
import fetch10sen from "../../data/fetch10sen";
// biome-ignore lint/style/useImportType: <explanation>
import Card from "../../components/Card.astro";
import type { ComponentProps } from "astro/types";

const data = await fetch10sen();

export async function getStaticPaths() {
  return Object.keys(await fetch10sen()).map((year) => ({
    params: { year },
  }));
}

const { year } = Astro.params;

const a: [string, ComponentProps<typeof Card>[]][] = Object.entries(
  Object.groupBy(
    // biome-ignore lint/style/noNonNullAssertion: <explanation>
    data[year]!,
    ({ count }) => count,
  ),
)
  .toSorted(([a], [b]) => Number.parseInt(b, 10) - Number.parseInt(a, 10))
  .filter(
    (
      x,
    ): x is [
      string,
      { count: number; url: string | null; title: string; type: string }[],
    ] => !!x[1],
  )
  .map(([b, c]) => [b, c.map(({ count, ...rest }) => ({ ...rest }))]);
---

<NormalLayout title={`${year}年の音MAD10選`}>
  <div class="mt-8 flex flex-col gap-y-4">
    {
      a.map(([b, c]) =>
        <div>
          <h2 class="text-2xl text-slate-950">{b}票</h2>
          <div class="mt-2 grid grid-cols-1 gap-y-4">
            {c.map((w) =>
              <Card {...w}></Card>
            )}
          </div>
        </div>
      )
    }
  </div>
</NormalLayout>
